body {
  background-color: #DAEAF1;
}

hr {
  border-style: none;
  border-color: grey;
  border-top-style: dotted;
  border-width: 5px;
  width: 7%;
}

h1 {
  color: #A47E3B;
  font: 75px Castellar;
}

h3 {
  color: #A47E3B;
}
